<% if user_signed_in? %>
    <!--The input container for the workout-->
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            Add an excercise
          </div>
            <div class="panel-body">
              <div class="row">
              <%= simple_form_for @data do |f| %>


                  <%= f.input :excercise, :wrapper_html => { :class => 'col-md-12' }%>
                    <div class="row">
                      <div class="col-md-12">
                  <%= f.input :sets, :wrapper_html => { :class => 'col-md-12 col-xs-4' } %>
                  <%= f.input :reps, :wrapper_html => { :class => 'col-md-12 col-xs-4' } %>
                  <%= f.input :weight, :wrapper_html => { :class => 'col-md-12 col-xs-4' } %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <%= f.button :submit %>
                    </div>
              <% end %>
              </div>
            </div>
        </div>
      </div>


      <!--The summary portal-->

      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-heading">
            Summary
          </div>

            <div class="panel-body">
              <%= if current_user.data %>
              <%= line_chart @workoutData.group_by_day %>
              This is where the highcharts graph will go
              <table class="table">
                <% @workoutData.each do |data| %>
                    <tr class="row">
                      <% data.attributes.each_pair do |name, value| %>
                          <td>
                            <%= value %>
                          </td>
                      <% end %>
                    </tr>
                <% end %>
              </table>
                  <% else %>
              <p>Create some data to get started</p>
                  <% end %>
            </div>
        </div>
      </div>
    </div>
<% end %>