<% if user_signed_in? && current_user %>
    <!--The input container for the workout-->
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <% @collectionBack = %w[Pull-ups Pull-downs Seated-row Stack-pull Oblique-pull Oblique-twist Rotating-curl Hammer-curl] %>
            <% @collectionFront = %w[Leg-press Leg-extension Hamstring-curl Dumbbell-bench Overhead-press Lu-raise Arnie-raise Push-down Tricep-extension] %>
            <% if @collectionBack.include? current_user.data.where("created_at > ?", Time.zone.now.beginning_of_day).first.excercise %>
                <% @collection = @collectionFront; @message = "It's leg day" %>

            <% else %>
                <% @collection = @collectionBack; @message = "It's back day" %>
            <% end %>
            Add an excercise - <b><%= @message %></b>
          </div>
            <div class="panel-body">
              <div class="row">
              <%= simple_form_for @data do |f| %>
                    <%= f.input :excercise, :collection => @collection, :wrapper_html => { :class => 'col-md-12' }%>
                    <div class="row">
                      <div class="col-md-12">
                        <%= f.input :sets, :wrapper_html => { :class => 'col-md-12 col-xs-4' } %>
                        <%= f.input :reps, :wrapper_html => { :class => 'col-md-12 col-xs-4' } %>
                        <%= f.input :weight, :wrapper_html => { :class => 'col-md-12 col-xs-4' } %>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <%= f.button :submit %>
                    </div>
              <% end %>
              </div>
            </div>
        </div>
      </div>


      <!--The summary portal-->

      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-heading">
            Intensity of your workout - The dot product of repetitions, sets and the weight lifted
          </div>

            <div class="panel-body">
              <% if current_user.data.count >= 1 %>
                  <%= line_chart @intensityData %>
                  <% else %>
              <p>Create some data to get started</p>
                  <% end %>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          Your latest workout summary (This will reset tomorrow - better get to the gym!)
        </div>
        <div class="panel-body">
          <% if current_user.data.count >= 1 %>
              <table class="table table-responsive">
                <tr>
                  <th>Excercise</th>
                  <th>Sets</th>
                  <th>Reps</th>
                  <th>Weight</th>
                  <th>Intensity</th>
                </tr>
                <% @totalIntensity = 0   %>
              <% @modelData.where("created_at >= ?", Time.zone.now.beginning_of_day).each do |datum| %>
                <tr>
                  <td><%= datum.excercise %></td>
                  <td><%= datum.sets %></td>
                  <td><%= datum.reps %></td>
                  <td><%= datum.weight %></td>
                  <td><%= intensity(datum) %></td>
                  <% @totalIntensity += intensity(datum) %>
                </tr>
              <% end %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <th>Total:</th>
                  <td><%= @totalIntensity %></td>
                </tr>
              </table>
          <% else %>
              <p>Create some data to get started</p>
          <% end %>
        </div>
      </div>
    </div>
    </div>
<% end %>