<% if user_signed_in? %>
    <!--The input container for the workout-->
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            Add an excercise
          </div>
            <div class="panel-body">
              <%= simple_form_for @data do |f| %>
                  <div class="col-md-12">
                  <%= f.input :excercise%>
                  </div>
                  <div class="col-md-12 col-xs-4">
                  <%= f.input :sets %>
                  </div>
                  <div class="col-md-12 col-xs-4">
                  <%= f.input :reps %>
                  </div>
                  <div class="col-md-12 col-xs-4">
                  <%= f.input :weight %>
                  </div>
                  <div class="col-md-12">
                    <%= f.button :submit%>
                  </div>
              <% end %>
            </div>
        </div>
      </div>


      <!--The summary portal-->

      <div class="col-md-8">
        <div class="panel panel-info">
          <div class="panel-heading">
            Summary
          </div>
            <div class="panel-body">
              This is where the highcharts graph will go
              <table class="table">
                <% Datum.all.each do |data| %>
                    <tr class="row">
                      <% data.attributes.each_pair do |name, value| %>
                          <td>
                            <%= value %>
                          </td>
                      <% end %>
                    </tr>
                <% end %>

              </table>
            </div>
        </div>
      </div>
    </div>
<% end %>