<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
            <%= simple_form_for '', :method => :get, :html => { :class => 'form-inline  ' } do |f| %>
                <%= f.input :excercise_filter, label: false , :collection => @collection, :selected => params[:excercise_filter],
                            :include_blank => "(select if none)", :required => false %>
                <%= f.button :submit, 'Filter' %>
            <% end %>

          </div>
        </div>

      </div>
      <div class="panel-body">
        <% if current_user.data.count >= 1 && params[:excercise_filter].present? %>
            <table class="table table-responsive">
              <tr>
                <th>Sets</th>
                <th>Reps</th>
                <th>Weight</th>
                <th>Intensity</th>
                <th>Date</th>
              </tr>
              <% @totalIntensity = 0   %>
              <% @modelData.each do |datum| %>
                  <tr>
                    <td><%= datum.sets %></td>
                    <td><%= datum.reps %></td>
                    <td><%= datum.weight %></td>
                    <td><%= intensity(datum) %></td>
                    <td><%= datum.created_at.to_date %></td>
                    <% @totalIntensity += intensity(datum) %>
                  </tr>
              <% end %>

            </table>
        <% else %>
            <p>Select a filter above</p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% if current_user.data.count >= 1 && @graphData.present? %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <%= params[:excercise_filter] %>
      </div>
      <div class="panel-body">

            <%= line_chart @graphData %>
      </div>
    </div>
  </div>
</div>
<% else %>
<% end %>